[core]
	editor = code --wait
	autocrlf = true
	attributesfile = C:\\dotfiles-windows\\git\\.gitattributes
[credential]
	helper = manager
[user]
	name = David Nguyen
	email = hpcsc@users.noreply.github.com
[pull]
	rebase = true
[rebase]
	autoStash = true
[diff]
	mnemonicprefix = true
[alias]
  hide = update-index --assume-unchanged
  unhide = update-index --no-assume-unchanged
  unhide-all = update-index --really-refresh
  hidden = !git ls-files -v | grep \"^[a-z]\"
  ignored = !git status -s --ignored | grep \"^!!\"
